.App {
    text-align: center;
}

.main-container {
    font-family: 'EB Garamond', serif;
 
}

body {
    font-family: 'EB Garamond', serif;
}


button {
    font-family: 'EB Garamond', serif;
}


.business-img {
    height: 350px;
    padding-top: 10px;
}

.business-description {
    padding-right: 2px;
}